<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bumusicology | Link to Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- notice bar - flex-row -->
    <div class="d-flex flex-row justify-content-center bg-light w-100">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: flash, class:name %>
      <% end %>
    </div><!-- notice bar - flex-row -->
    <!-- Content Containter - d-flex -->
    <div id="yield-container" class="d-flex flex-row">
      <%= yield %>
    </div>
  </body>
</html>
